{{> header1}}


<section>
    <table class="table table-hover container mt-5">
        <thead>
            <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>


        </tbody>
    </table>
    {{!-- <h5 style="margin-left: 32%;">Grand Total: 345</h5> --}}
    <div class="container">
        <a href="/user/checkout" class="btn bg-dark text-white" style="margin-left: 85%;">Checkout here-></a>
    </div>
</section>

{{> footer}}