{{> header1}}


<div class="container mt-5">
    <label for="">Enter Card Number</label>
    <input type="text" class="form-control">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end container mt-3">
        <input type="submit" class="btn btn-dark" value="Payment">
    </div>
</div>

{{> footer}}