<body>
    {{> header}}

    <div class="container main">
        <h1 class="text-center my-3">Pizza Delivery</h1>
        <p style="font-size:20px; margin-top:50px; margin-bottom:50px">Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Nam
            sequi
            quod deleniti
            neque libero quisquam
            aperiam necessitatibus? Commodi voluptatum debitis aliquam blanditiis, atque quo iure doloremque saepe rem
            voluptates ipsum animi odit vel modi aliquid sit aspernatur delectus, quasi minima molestias temporibus,
            eligendi aperiam. Porro officiis incidunt vero esse nemo.</p>
        <div class="d-grid gap-2 col-2 mx-auto">
            <a class="btn btn-dark" href="/user/login">Place Order Here</a>
        </div>
    </div>

    {{> footer}}