{{> header}}

{{#if succMsg}}
<p class="alert alert-success">{{succMsg}}</p>
{{/if}}
{{#if errMsg}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{errMsg}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<form action="/user/login_post" method="post">
    <div class="container my-3">
        <div class="my-3">
            <label for="">Email</label>
            <div>
                <input type="text" name="email" class="form-control">
            </div>
        </div>
        <div class="my-3">
            <label for="">Password</label>
            <div>
                <input type="password" name="pass" class="form-control">
            </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <input type="submit" value="Login" class="form-control bg-primary">
        </div>
    </div>
</form>

{{> footer}}