{{> header1}}

<div class="container mt-5 text-center">
    <h1 class="display-1 text-success">Order Placed!</h1>
    <h1 class="display-3 text-success">Thanks for choosing Us</h1>
</div>

{{> footer}}