{{> header}}

<div class="container">
    <div class="row mt-3">
        <div class="card col-md-3 mt-3" style="width: 18rem;">
            <img src="/static/images/pizza1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
        <div class="card col-md-3 mt-3" style="width: 18rem;">
            <img src="/static/images/pizza2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
        <div class="card col-md-3 mt-3" style="width: 18rem;">
            <img src="/static/images/pizza3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
        <div class="card col-md-3 mt-3" style="width: 18rem;">
            <img src="/static/images/pizza4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
        <div class="card col-md-3 mt-3" style="width: 18rem;">
            <img src="/static/images/pizza5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
        <div class="card col-md-3 mt-3" style="width: 18rem;">
            <img src="/static/images/pizza6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
        <div class="card col-md-3 mt-3" style="width: 18rem;">
            <img src="/static/images/pizza7.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
        <div class="card col-md-3 mt-3" style="width: 18rem;">
            <img src="/static/images/pizza8.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
    </div>
</div>

{{> footer}}